/* SideBar */
.sidebar {
  width: 300px;
  padding: 0 16px;
  background-color: var(--sidebar-header-background-color);
  color: var(--text-color);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 2px solid var(--sidebar-header-border);
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 16px;
}

.logo-image {
  width: 48px;
}

.logo-title {
  margin-left: 4px;
  font-size: 40px;
}

.sidebar-line {
  margin: auto;
  height: 3px;
  border: none;
  background-color: var(--sidebar-header-border);
  border-radius: 10px;
}

/* Menu */
.menu {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-menu {
  margin-top: 48px;
}

.bottom-menu {
  padding-bottom: 48px;
}

.sidebar-title {
  font-size: 18px;
  padding-left: 16px;
}

.sidebar-list {
  margin-top: 38px;
}

.link {
  text-decoration: none;
  color: var(--text-color);
}

.sidebar-link {
  margin-top: 24px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  background-color: var(--link-hover);
  border-radius: 15px;
}

.sidebar-link.active {
  color: #B9C7FC;
  text-decoration: none;
  background-color: var(--link-hover);
  border-radius: 15px;
}

.sidebar-image {
  width: 24px;
}

.sidebar-link-title {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
}

.sidebar-link.bottom-link {
  padding: 0 16px;
  margin-top: 16px;
}

.sidebar-link.bottom-link.darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darkmode-title {
  display: flex;
  align-items: center;
}

.sidebar-link.bottom-link.darkmode:hover {
  background-color: var(--sidebar-header-background-color);
  color: var(--text-color);
  cursor: default;
}

.sidebar-link.bottom-link.logout:hover {
  cursor: pointer;
}

.sidebar-link.bottom-link {
  padding: 10px 16px;
}

.sidebar-line.bottom {
  margin: 16px 0;
}