/* SideBar */
.sidebar {
  width: 300px;
  padding: 0 16px;
  background-color: var(--sidebar-header-background-color);
  color: var(--app-text-color);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-right: 2px solid var(--sidebar-header-border);
  z-index: 999;
  display: flex;
  flex-direction: column;
}

/* Logo */
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 16px;
}

.sidebar-logo-image {
  width: 48px;
  height: auto;
}

.sidebar-logo-title {
  margin-left: 4px;
  font-size: 40px;
}

.sidebar-line {
  margin: auto;
  height: 3px;
  border: none;
  background-color: var(--sidebar-header-border);
  border-radius: 10px;
}

/* Menu */
.sidebar-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-sub-menu {
  margin-top: 24px;
}

.sidebar-bottom-menu {
  margin-top: auto;
  padding-bottom: 24px;
}

.sidebar-sub-menu-title {
  font-size: 18px;
  padding-left: 16px;
}

.link {
  text-decoration: none;
  color: var(--app-text-color);
}

.sidebar-link {
  margin-top: 24px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
}

.sidebar-link:hover {
  background-color: var(--sidebar-menu-link-hover);
  border-radius: 15px;
}

.sidebar-link.active {
  color: #B9C7FC;
  text-decoration: none;
  background-color: var(--sidebar-menu-link-hover);
  border-radius: 15px;
}

.sidebar-menu-image {
  width: 24px;
  height: auto;
}

.sidebar-link-title {
  margin-left: 24px;
  font-size: 16px;
  font-weight: 500;
}

.sidebar-link.sidebar-bottom-link {
  padding: 0 16px;
  margin-top: 16px;
}

.sidebar-link.sidebar-bottom-link.sidebar-darkmode {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-darkmode-title {
  display: flex;
  align-items: center;
}

.sidebar-link.sidebar-bottom-link.sidebar-darkmode:hover {
  background-color: var(--sidebar-header-background-color);
  color: var(--app-text-color);
  cursor: default;
}

.sidebar-link.sidebar-bottom-link.logout:hover {
  cursor: pointer;
}

.sidebar-link.sidebar-bottom-link {
  padding: 10px 16px;
}

.sidebar-line.sidebar-line-bottom {
  margin: 16px 0;
}