.lessons-page-content {
  padding: 0 200px 100px;
  width: 100%;
}

.lessons-page-subject-titles {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.lessons-page-subject-title {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.lessons-page-subject-title.subject-title-selected {
  color: var(--lessons-card-title-lesson);
}

.lessons-page-lessons-cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

@media (max-width: 1980px) {
  .lessons-page-lessons-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1400px) {
  .lessons-page-lessons-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1100px) {
  .lessons-page-content {
    padding: 0 50px 100px;
  }
}