.lessons-page-content {
  padding: 0 90px 100px;
}

.lessons-page-subject-titles {
  display: flex;
  gap: 32px;
}

.lessons-page-subject-title {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.lessons-page-subject-title.subject-title-selected {
  color: var(--lessons-card-title-lesson);
}

.lessons-page-lessons-cards {
  margin-top: 48px;
  max-width: 1260px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 24px;
}