.home-page-content {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 0 200px;
}

.home-page-recommendation {
  margin-top: 72px;
}

.home-page-recommendation-cards {
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

@media (max-width: 2130px) {
  .home-page-recommendation-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1800px) {
  .home-page-content {
    padding: 0 50px;
  }
}

@media (max-width: 1500px) {
  .home-page-missions {
    display: none;
  }
}

@media (max-width: 1100px) {
  .home-page-recommendation-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .home-page-content {
    padding: 0 25px;
  }

  .home-page-content-title {
    font-size: 20px;
  }

  .home-page-recommendation {
    margin-top: 48px;
  }

  .home-page-recommendation-cards {
    gap: 8px;
  }
}