.exam-page-content {
  padding: 0 200px 100px;
  width: 100%;
}

.lessons-page-subject-slider {
  overflow-x: auto;
  white-space: nowrap;
}

.exam-page-subject-titles {
  display: flex;
  gap: 32px;
}

.exam-page-subject-title {
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.exam-page-subject-title.subject-title-selected {
  color: var(--lessons-card-title-lesson);
}

.exam-page-exam-cards {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
}

@media (max-width: 1980px) {
  .exam-page-exam-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1800px) {
  .exam-page-content {
    padding: 0 50px;
  }
}

@media (max-width: 1400px) {
  .exam-page-exam-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 500px) {
  .exam-page-content {
    padding: 0 25px;
  }

  .exam-page-subject-title {
    font-size: 14px;
  }

  .exam-page-subject-titles {
    gap: 24px;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .exam-page-subject-titles::-webkit-scrollbar {
    display: none;
  }
}