.profile-pop-up {
  background-color: var(--card-background-color);
  border: 2px solid var(--card-border-color);
  border-radius: 20px;
  width: 300px;
  padding: 24px 16px;
  position: absolute;
  top: 60px;
  right: 180px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile-pop-up-image {
  width: 24px;
}

.profile-pop-up-link {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 12px 16px;
  border-radius: 15px;
  user-select: none;
  cursor: pointer;
}

.profile-pop-up-link:hover {
  background-color: var(--header-pop-up-link-hover);
}

@media (max-width: 1800px) {
  .profile-pop-up {
    right: 45px;
  }
}



