.missions-page {
  width: 100%;
  padding: 0 200px;
}

.missions-page-missions-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media (max-width: 1800px) {
  .missions-page {
    padding: 0 50px;
  }
}