.continue-learn-card {
  flex: 1;
  background-color: var(--card-background-color);
  border: 2px solid var(--card-border-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  margin-top: 24px;
}

.continue-learn-card-title {
  display: flex;
  align-items: center;
  gap: 24px;
}

.course-title {
  font-size: 20px;
}

.course-status {
  display: flex;
  align-items: center;
  margin-top: 8px;
  gap: 8px;
  position: relative;
  min-width: 150px;
}

.need-to-pass-bar {
  width: 100px;
  height: 8px;
  border-radius: 10px;
  background-color: var(--progress-bar-background);
}

.passed-bar {
  position: absolute;
  top: 4px;
  height: 8px;
  width: 10px;
  border-radius: 10px;
  background-color: var(--passed-bar);
}

.course-passed-status {
  font-size: 14px;
}

@media (max-width: 1000px) {
  .continue-learn-card {
    flex-direction: column;
    padding: 24px;
    gap: 24px;
    align-items: start;
  }
}

@media (max-width: 500px) {
  .continue-learn-card {
    border-radius: 20px;
  }

  .continue-learn-card-image {
    width: 40px;
  }

  .course-title {
    font-size: 16px;
  }

  .course-passed-status {
    font-size: 12px;
  }

  .passed-bar {
    top: 3px;
  }
}