.recommendation-level-duration {
  margin-top: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--app-description-color);
}

.recommendation-dot {
  width: 5px;
  height: 5px;
  background-color: var(--app-description-color);
  border-radius: 10px;
}

@media (max-width: 500px) {
  .recommendation-level-duration {
    font-size: 12px;
    gap: 6px;
    margin-top: 4px;
  }
}