.home-mission-card {
  background-color: var(--card-background-color);
  border: 2px solid var(--card-border-color);
  border-radius: 30px;
  width: 420px;
  padding: 24px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-mission-card-title {
  font-size: 18px;
}

.home-mission-card-description {
  margin-top: 8px;
}

.home-mission-card-logo {
  width: 60px;
}