* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter Semi Bold", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #797979;
}

::-webkit-scrollbar-thumb:active {
  background-color: #5c5c5c;
}

/* Color variables */
:root {
  /* Main Colors */
  --app-background-color: #2D2E35;
  --app-text-color: #FFFFF8;
  --app-description-color: #C9C9C9;

  /* SideBar, Header Colors */
  --sidebar-header-background-color: #1A1D1F;
  --sidebar-header-border: #393A41;
  --sidebar-menu-link-hover: #313436;
  --darkmode-switcher-light-background-color: #ffffff;
  --darkmode-switcher-dark-background-color: #64748B;
  --darkmode-switcher-button-color: #3e4046;

  /* Button Colors */
  --button-link-color: #30638E;
  --button-color-hover: #2A567A;
  --button-color-active: #1F405B;
  --button-color-text: #FFFFFF;

  /* Card Colors */
  --card-background-color: #37383F;
  --card-border-color: #4F5056;
  --progress-bar-background: #1A1D1F;
  --passed-bar: #30638E;
  --lessons-card-title-lesson: #9DD6FF;
  --lesson-card-done: #35CE8D;

  /* Achievements Colors */
  --achievements-complete-color: #AAFF68;
  --achievements-incomplete-color: #FFC5EB;

  /* Edit Profile Colors */
  --edit-profile-input-color: #4F5056;
  --edit-profile-cancel-button-color: #4F5056;
  --edit-profile-input-label-color: #C9C9C9;

  --header-pop-up-link-hover: #64656e;

  --exam-header-footer-background: #37383F;
  --exam-progress-bar-background: #4F5056;
  --exam-progress-bar-passed-background: #30638EFF;
  --exam-card-option-active: #35CE8D;
  --exam-card-result: #627fff;

  --button-disable: #4F5056;
  --button-disable-text-color: #2D2E35;

  --button-modal-cancel: #627fff;
  --button-modal-logout: #4F5056;
  --modal-text-color: #ffffff8f;
  --modal-hr-color: #ffffff8f;

  --exist-nickname-text-color: #FF3333;
}

.App {
  display: flex;
  background-color: var(--app-background-color);
  color: var(--app-text-color);
}

.app-content {
  display: flex;
  flex-direction: column;
  padding-left: 300px;
  width: 100%;
}

.app-page {
  display: flex;
  padding: 128px 0;
  min-height: 100vh;
}

.link {
  text-decoration: none;
  color: var(--app-text-color);
}

@media (max-width: 850px) {
  .app-content {
    padding: 0;
  }
}