.recommendation-card {
  background-color: var(--card-background-color);
  border: 2px solid var(--card-border-color);
  border-radius: 30px;
  padding: 24px;
  width: 440px;
  margin-top: 24px;
}

.recommendation-card-title {
  font-size: 18px;
  margin-top: 20px;
}

.recommendation-card-description {
  margin-top: 8px;
  color: var(--app-description-color);
}