.header {
  height: 80px;
  padding: 25px 200px;
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sidebar-header-background-color);
  border-bottom: 2px solid var(--sidebar-header-border);
  z-index: 999;
}

.header-content-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.header-title-text {
  font-size: 24px;
}

.header-user-info {
  display: flex;
  align-items: center;
}

.header-user-info-div.xp-count {
  display: flex;
  align-items: center;
}

.header-xp-amount {
  margin-left: 8px;
  font-size: 16px;
}

.header-user-info-div {
  margin-left: 24px;
}

.header-xp-notification-image {
  width: 24px;
}

.header-user-logo {
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 1800px) {
  .header {
    padding: 25px 50px;
  }
}















