.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 400px;
  background-color: var(--sidebar-header-background-color);
  border-bottom: 2px solid var(--sidebar-header-border);
  position: fixed;
  top: 0;
  left: 300px;
  right: 0;
}

.header-title-text {
  font-size: 24px;
}

.header-user-info {
  display: flex;
  align-items: center;
}

.header-user-info-div.xp-count {
  display: flex;
  align-items: center;
}

.header-xp-amount {
  margin-left: 8px;
  font-size: 16px;
}

.header-user-info-div {
  margin-left: 24px;
}

.header-xp-notification-image {
  width: 24px;
}

.header-user-logo {
  width: 40px;
  border-radius: 50%;
}
















